

.newsl{
    display: flex;
    margin: 7% 0 10% 5%;
    padding: 5% 0 8% 0;
  

   
}

.flexin{
    flex-direction: row;


}



.idcard{
    display: flex;
    margin-left: 1%;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: -10;
    position: relative;
 
}



.details2 h2{
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: -9%;
    text-transform: uppercase;
    font-weight: bold;
}
.detailcard h3{
    margin-left: 9%;
    margin-top: 0%;
}

/* .deta1 h2{
        font-size: 35px !important;
        margin-left: -5%;
}

.deta1{
    margin-top: -7%;
    margin-left: 10%;
    font-size: 20px;
}
.pro{
    margin: 5%;
    margin-left: -5%;
}
.pro h2{
    padding-left: 7%;
    font-size: 50px;
    font-weight: bold;
   
}

.show1{
    margin-left: -120%;
    width: 200%;
    height: auto;

}
*/
#img3{
    display: none;
}
.img2{
    z-index: 10;
    margin-bottom: 10%;
    
}
.descr{
    margin: -10% 0% 0 7%;
    padding:-5% 5% 0 0 ;

}
/*




.items1{
    margin: 10%;
    margin-top: 5%;
    width: 200%;


}
.gf{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 7rem;
    row-gap: 3rem;
}

.gfc{
    display: block;
    float: left;
    width: 36%;
}
.items1 h3{
 
    font-size: 20px;
    font-weight: bold;

}

.items1 p{
    line-height: 3rem;
    font-weight: bold;
}

.newsl{
    margin-bottom: 20%;
    margin-top: 5%;
    margin-left: 3%;
} */

@media  only screen and (max-width:600px){
    /* .show1{
        margin-top: 3%;
        margin-left: -8%;
        width: 100%;
    }
    .page1{
        margin-top: 10%;
        gap: 4rem;display:grid;
        grid-template-columns:repeat(auto-fit,
        minmax(12rem, 16rem));
        justify-content:center;
        font-family: 'Poppins', sans-serif;
        margin-left: -5%;
    }

    .show1 img{
        width: 70%;
    }
    .items1{
        margin-left: -35px;
        margin-top: 5%;
        margin-bottom: -55%;
        width: 100%;
    } */

    .newsl{
        margin-bottom: 20%;
        margin-top: 5%;
        margin-left: 3%;
        width: 10%;
        display: grid;
      
    }

    .flexin{
       
    }
    
    
    /* .img2{
        display: none;
        
    }

    .img3{
        display: block;
    }
    .gfc{
        display: block;

    }
    .deta1 h2{
        margin-left: -5%;
        font-size: 20px !important;
    }

    .gf{
        gap: 4rem;display:grid;
        grid-template-columns:repeat(auto-fit,
        minmax(12rem, 16rem));
    }
    .pro{
        padding-left: 10%;
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-flow: column wrap;
    }

    .deta1{
        margin-top: 25%;
        margin-left: auto;
        width: 100%;
    }
    .pro h2{
        margin-top: 20%;
        font-size: 23px;
        margin-left: -8%;
    } */

}

@media  only screen and (max-width:1040px){
    #img3{
        display: flex;
        width: 100%;
        padding-left: 2%;
    }

   .newsl{
    display: grid;
    
    padding-left: 8%;
    width: 100vw;
    overflow-x: hidden;
   }
   .details2 h2{
    margin-left: 12%;
    margin-bottom: 2%;
    margin-top: 8%;
}
.detailcard h3{
    margin-left: 9%;
    margin-top: 2%;
}


   .flexin{
   
   }
   .idcard{
    display: flex;
    margin-left: 1%;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
 
}

    .img2{
        display: none;
    }
    .thumbs-wrapper{
        width: 40%;
    }
    .slider-wrapper{
        width: 40%;
    }
    
    #img3 .carousel-slider{
        width: 50% !important;
        margin-right: 2px !important;
        padding-right: 2px !important;
     
    }
   

     
    
}